/* filepath: c:\Users\david\Local Mikaelson\booksmarter\booksmarter-frontend\src\app\shared\dialogs\add-book-instance-dialog\add-book-instance-dialog.component.scss */
@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.add-instance-dialog {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .terminal-info {
    margin-bottom: 1rem;
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    mat-form-field {
      width: 100%;
    }

    .search-field {
      margin-bottom: -1rem;
    }
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

    button {
      @include button();
    }
  }
}
