// // Light Theme Variables
// $light-background: #ffffff;
// $light-primary: #c5ad9b;
// $light-text: #2e2626;

// // Dark Theme Variables
// $dark-background: #2e2626;
// $dark-primary: #c5ad9b;
// $dark-text: #ffffff;

$background: #ffffff;
$primary: #c5ad9b;
$text: #2e2626;
